.element__text {
  font-size: 5vw;
  margin-left: 2vw;
}

.element {
  padding: 2vw;
  height: 32vw;
}

.element__img {
  width: 30vw;
  height: 30vw;
}

@media only screen and (orientation: landscape) {
  .element__text {
    font-size: 2.5vmax;
  }
}