.user-page-title {
  padding: 3vw;
}

.user-page-title__online, .user-page-title__status {
  font-size: 5vw;
}

.user-page-title__name {
  font-size: 6vw;
}

.user-page-title_top {
  display: block;
}

.user-page-title_right {
  display: none;
}