$color-background: #303032;

$color-navigation-bar-background: #ff8d00;
$color-navigation-bar-border: #000;

$color-user-data-text: #0c0000;

$color-search-background: #b15900;

$color-go-to-back: #CCC;

$color-window-background: #ff8d00;
$color-window-border: #000;

$color-alert-item-text: #000;
$color-alert-item-loading: #000;

$color-element-border: #000;
$color-element-text: #000;

$color-user-page-text: #000;

$color-status-ok: green;
$color-status-error: red;
$color-status-loading: #000;