$color-background: #666;

$color-navigation-bar-background: #333;
$color-navigation-bar-border: #000;

$color-user-data-text: #CCC;

$color-go-to-back: #CCC;

$color-window-background: #333;
$color-window-border: #000;

$color-alert-item-text: #000;
$color-alert-item-loading: #000;

$color-element-border: #000;
$color-element-text: #000;

$color-user-page-text: #000;

$color-status-ok: green;
$color-status-error: red;
$color-status-loading: #000;