$font-user-data: 15px;

$font-search: 25px;

$font-alert-item-text: 40px;

$font-element-text: 40px;

$font-user-page-content: 40px;
$font-user-page-work: 40px;
$font-user-page-status: 40px;
$font-user-page-name: 50px;