$navigation-bar-height: 40px;

.navigation-bar__container {
  height: $navigation-bar-height + 20px;
  width: 100%;
}

.navigation-bar__left, .navigation-bar__right {
  height: 100%;
  vertical-align: top;
}