.user-page-img__img {
  margin: 15px;
  width: 350px;
  height: 350px;
}

@media only screen and (max-width: 1200px) {
  .user-page-img__img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .user-page-img__img {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
}